node_modules/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build folders
dist/
build/
.vercel/

# Logs & temp
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.gemini/

# Backend specific upload cache
backend/uploads/*
!backend/uploads/.gitkeep
